// Load CSS Reset from NPM

@import "~normalize.css";

@use 'colors';

@import 'typography';
@import 'grid';
@import 'spacing';
@import 'button';
// @use "sass:meta";

$font-family: "Brandon Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$min_width: 320px;
$max_width: 1000px;
$min_font: 16px;
$max_font: 22px;

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

/////////////////////
// PAGE FORMATTING //
/////////////////////
body {
  color: $type-dark;
  max-width: 1000px;
  padding: 1rem;
  margin: 0 auto;
  font-family: $font-family;
  background-color: $background-light;
}

.background {
  transition: background-color $button-transition-duration ease;

  &--light {
    background-color: $background-light;
    color: $black;
  }

  &--dark {
    background-color: $background-dark;
  }
}

// SVG Icons
// This controls the default behavior of how icons look when they're declared via the `<use>` tag
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.toggle {
  background-color: $background-dark;
  border: $button-border-width-thin solid $background-light;
  color: $type-light;
  font-size: 0.8em;
  outline: none;
  position: fixed;
  right: 0.625rem;
  top: 0.625rem;
  text-align: center;
  height: 4rem;
  width: 4rem;
  border-radius: 2rem;
  z-index: 100;

  &:hover {
    background-color: darken($background-dark, 10%);
  }

  &:focus {
    box-shadow:
      0 0 0 $button-border-width-thin $background-light,
      0 0 0 ($button-border-width-thick * 1.25) $background-dark;
  }

  &:active {
    background-color: darken($background-dark, 30%);
    transform: $button-bounce;
  }

  // Contexts
  .background--dark & {
    color: $background-dark;
    background-color: $background-light;
    border: $button-border-width-thin solid $background-dark;

    &:hover {
      background-color: desaturate(darken($background-light, 10%), 100%);
    }

    &:focus {
      box-shadow:
        0 0 0 $button-border-width-thin $background-dark,
        0 0 0 ($button-border-width-thick * 1.25) $background-light;
    }

    &:active {
      background-color: desaturate(darken($background-light, 30%), 100%);
      transform: $button-bounce;
    }
  }
}

$mod_1: 1.2; // mobile
$mod_2: 1.5; // desktop

h1 {
  font-size: $mod_1*$mod_1*$mod_1*$mod_1 *1rem;
  font-weight: 400;

  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
}

h2 {
  font-size: $mod_1*$mod_1*$mod_1 *1rem;
  font-weight: 400;

  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
}

h3 {
  font-size: $mod_1*$mod_1 *1rem;
  font-weight: 400;

  @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
}
// $font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas;

.page-header {
  height: 80vh;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
  background-position: 50%;
  background-size: cover;
  text-align: center;
  font-weight: 100;
  font-style: normal;

  .brand {
    h1 {
      font-size: 4.2rem;
      display: inline-block;
      position: relative;
      line-height: 1.15em;
      font-family: $font-family;
      font-weight: 400;
      font-style: normal;
    }
  }
}

.main {
  position: relative;
  z-index: 3;

  &.main-raised {
    margin: -60px 30px 0;
    border-radius: 6px;
    background: 0% 0% / cover rgb(34, 59, 83);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }
}

$purple: #7067c6;
$black: #1b2024;
$yellow: #ffeec9;
$white: #fff;
$text: #75757c;
$dark-grey: #56565e;
$grid-border: #c0c9e4;
$grid-bg: #fafbfe;
$footer-bg: #f1f2fb;

// html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
//   margin: 0;
//   padding: 0;
//   border: 0;
//   font-size: 100%;
//   font: inherit;
//   vertical-align: baseline;
// }

// article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
//   display: block;
// }

// body {
//   line-height: 1.5;
// }

// ol, ul {
//   list-style: none;
// }

// blockquote, q {
//   quotes: none;
// }

// blockquote {
//   &:before, &:after {
//     content: '';
//     content: none;
//   }
// }

// q {
//   &:before, &:after {
//     content: '';
//     content: none;
//   }
// }

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-moz-selection {
  color: $black;
  // background: $yellow;
  text-shadow: none;
}

::selection {
  color: $black;
  // background: $yellow;
  text-shadow: none;
}

// * {
//   box-sizing: border-box;
//   &::before, &::after {
//     box-sizing: border-box;
//   }
// }

// body {
//   font-family: 'Source Sans Pro', sans-serif;
//   font-size: 1.125rem;
//   color: $text;
//   background: $white;
//   -ms-text-size-adjust: 100%;
//   -webkit-text-size-adjust: 100%;
//   text-rendering: optimizeLegibility;
//   display: grid;
//   grid-template-areas: "header header header header header header header header header header header header" "main main main main main main main main main main main main" "footer footer footer footer footer footer footer footer footer footer footer footer";
// }

// header, footer {
//   padding: 4rem 0;
//   text-align: center;
// }

header {
  // grid-area: header;
  background: $purple;
  color: #fff;
  border-radius: 0.3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .main-heading,
  .main-subheading {
    color: #fff;
  }
  // background: -webkit-linear-gradient(45deg, #7067c6, #9fc9ff);
  // background: -o-linear-gradient(45deg, #7067c6, #9fc9ff);
  // background: linear-gradient(45deg, #7067c6, #9fc9ff);
}

main {
  grid-area: main;
  padding: 2rem 0;
}

section {
  font-family: $font-family;
  margin-bottom: 4rem;
}

.input-label {
  background: $white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

footer {
  grid-area: footer;
  // background: $footer-bg;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
  color: inherit;
  cursor: pointer;
}

.link {
  font-weight: 600;
  -webkit-transition: color 0.15s ease-out;
  -o-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;

  &:hover {
    text-decoration: underline;
  }
}

// h1,h2, h3 {
//   font-weight: 400;
//   line-height: 1.1;
// }

// h1 {
//   margin-bottom: 1.25rem;
//   font-weight: 600;
//   color: $white;
// }

// h3 {
//   margin: 2rem 0 1.25rem 0;
//   color: $black;
// }

.download {
  padding: 1rem 1.5rem;
  font-size: inherit;
  font-weight: 600;
  line-height: 1.5;
  color: $white;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  outline: 0;
  border: 0.0625rem solid $white;
  border-radius: 0.5rem;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.22s;
  -o-transition: all 0.22s;
  transition: all 0.22s;

  &:hover {
    color: $purple;
    background: $white;
    border: 0.0625rem solid $white;
  }
}

main .grid > [class*="column-"] {
  text-align: center;
  padding: 1rem;
  color: $black;
  border: 0.0625rem solid $grid-border;
  background: $grid-bg;
}

.content {
  margin-bottom: 2rem;
}

pre {
  display: block;
  margin: 1.875rem 0;
  color: $white;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  background: $dark-grey;

  > code {
    display: block;
    padding: 1rem;
    border: none;
  }
}

code {
  font-family: Courier New, Courier, monospace;
}

p code {
  color: $purple;
  font-weight: 600;
  background: $footer-bg;
}

.main-raised {
  // margin: -60px 30px 0;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.color-container {
  list-style: none;
  padding: unset;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  li {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.font-container {
  font-family: $font-family;
}

.rendered-classes {
  // border: 3px solid #f7f7f9;
  // margin-bottom: 50px;
  // padding: 24px;

  h2 {
    padding: 20px 0;
  }

  pre {
    color: #563d7c;
    font-size: 14px;
    background: white;
    text-align: initial;
  }
}
